
body{
    --altura-painel-scroll: calc(100vh - 200px);
}

.background-primary {
    background-image: linear-gradient(
        to right,
        #7fa5b2,
        #a1d1c1
    );
    flex-grow: 1;
}

.button-color{
    background-color: #4c9386;
    color: white;
}

.button-gradient {
    background-image: linear-gradient(
        to right,
        #99d1e4,
        #b9e8d8
    );
}

.poppins-bold{
    font-family: "poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
}

.nunita-bold{
    font-family: "nunito", sans-serif;
    font-weight: 700;
    font-style: normal;
}

.background-color{
    background-color: #e8e8e8;
}

.background-select {
    background-color: #e9f2f6;
}

.text-name {
    color: #102542;
}

.text-welcome{
    color: #1b3558;
}

.text-secundary{
    color: #848484;
}

.btn-perfil {
    transition: all 0.2s ease-in-out
}

.btn-perfil:hover{
    border-color: #102542 !important;

    box-shadow: 0 4px 12px rgba(0,0,0,0.3);

    transform: translateY(-3px);
}

.footer-link {
    font-size: 14px;
    color: var(--bs-secondary-color);
    text-decoration: none;
    transition: all 0.2s ease-in-out;
}
.cop{
    color: var(--bs-secondary-color);
    font-size: 14px;
}

.footer-link:hover{
    color: var(--bs-dark);
}

.biblioteca-scroll{
    height: var(--altura-painel-scroll);
    overflow-y: auto;
}

.dia-card{
    min-width: 250px;
    height: 43rem;
    background-color: #e8e8e8;
    border-radius: 12px;
    border: 1px solid #dee2e6;
    
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.dias-flex{
    display: flex;
    gap: 1rem;
    min-width: min-content;
}

.dias-scroll{
    overflow-x: auto;
    padding-bottom: 1rem;
}

.nome-paciente { 
    color: #2c7265;
    font-weight: 700;
}

.row.g-4 > [class*="col-"] {
  display: flex;
  flex-direction: column;
}

.bg-white.shadow,
.dias-scroll,
.dias-flex {
  height: 100%;
}

.navbar-nav .nav-link{
    position: relative;
    padding-bottom: 0.5rem;
    transition: color 0.3s ease-in-out;
}

.navbar-nav .nav-link::after{
    content: '';
    position: absolute;

    background-color: #0d6efd;
    height: 2px;

    bottom: 5px;

    width: 0;
    left: 50%;
    transform: translateX(-50%);

    transition: width 0.3s ease-in-out;
}

.navbar-nav .nav-link:hover{
    color: #0d6efd;
}

.navbar-nav .nav-link:hover::after{
    width: 70%;
}

.navbar-nav .nav-link.active::after{
    width: 70%;
}

.login-card-custom{
    border-radius: 80px 80px 100px 100px;
    overflow: hidden;
    max-width: 500px;
    width: 100%;
    height: 600px;
}